.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem 0rem;
}

.flexnowrap {
  display: flex;
  flex-wrap: nowrap;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.small {
  font-size: medium;
}

.monospace {
  font-family: var(--font-mono);
}
